*{
  margin: 0;
  padding: 0;
}

.clubs-container {
  text-align: center;
}

header {
  background-color: grey;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img{
  width: 100px;
  height: auto;
}

header h1{
  font-size: 20px;
}

.clubs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.club-card {
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.club-card:hover {
  transform: scale(1.05);
}

.club-card img {
  max-width: 60px;
  height: auto;
}

.club-card h2 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.club-card p {
  color: #666;
}

@media (max-width: 768px) {
  .club-card {
    width: 120px;
  }

  .club-card h2 {
    font-size: 1rem;
  }

  .club-card img {
    max-width: 50px;
  }
}

@media (max-width: 480px) {
  .club-card {
    width: 100px;
    margin: 0.5rem;
  }

  .club-card h2 {
    font-size: 0.9rem;
  }

  .club-card img {
    max-width: 40px;
  }
}